<div class="container">
	<header>
		<h1>Klutch PickUp</h1>
		<h3>Don't look for pick up games, my friend. Let the pick up games find you.</h3>
		<p>Join Klutch PickUp to get real time notifications on pick up games happening near you.</p>
	</header>

	<section>
		<div class="login-form">
			<%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-large"%>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large"%>
			<p><br /> <a class="login-link" href="#">Lost your password?</a></p>
		</div>
	</section>
</div>