// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {  

	background: url('http://images.freeimages.com/images/previews/84b/baseball-in-the-grass-1557579.jpg') no-repeat center center fixed;
	background-size: cover;
}

.navbar-header img{
	max-width: 200px;
}

.container{



	margin: 0 auto;
	text-align: center;
	padding-top:90px;

	h1, h3, p{
		color:#000;
	}

	.main-page-buttton {
		width: 20%;
		margin: 0 10px 10px 10px;
	}

}

