<!DOCTYPE html>
<html>
<head>
  <title>Klutch Pickup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link href="vendor/Flat-UI-master/dist/css/flat-ui.css" rel="stylesheet"> -->
</head>
<body>
<div class="navbar-header">
	<a class="navbar-brand" rel="home" href="/">
		<img src="http://i61.tinypic.com/15p4lmc.png" border="0" alt="Image and video hosting by TinyPic">
	</a>
</div>

<%= yield %>

</body>
</html>
